<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799730118185-1ikqaeu1dvni36ieunl3vtr6jsbn8lcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799730118185-1ikqaeu1dvni36ieunl3vtr6jsbn8lcp</string>
	<key>API_KEY</key>
	<string>AIzaSyBXj2zndPja1po5mBKQlUTTRXA2KVeA-3k</string>
	<key>GCM_SENDER_ID</key>
	<string>799730118185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brilloconnetz.sportsNetwork</string>
	<key>PROJECT_ID</key>
	<string>sports-network-bb94b</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-network-bb94b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799730118185:ios:d3b95256f8247fcffbf638</string>
	<key>DATABASE_URL</key>
	<string>https://sports-network-bb94b-default-rtdb.firebaseio.com</string>
</dict>
</plist>